<table class="table">
  <thead>
    <tr>
      <th scope="col">Conta</th>
      <th scope="col">Valor</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody *ngIf="transferencia?.length; else listavazia">
    <tr *ngFor="let extrato of transferencia">
      <td>{{extrato.conta}}</td>
      <td>{{extrato.valor | currency}}</td>
      <td>{{extrato.data | date: "short"}}</td>
    </tr>
    <tr></tr>
  </tbody>
</table>
<ng-template #listavazia>
  <p>Nenhuma operação realizada</p>
</ng-template>

